
/*
	*:focus {
	outline: none;
}*/

body { padding-top: 50px; }

.navbar-nav > li > a {
	padding: 5px 10px 0px 10px !important;
	height: 30px !important;
}
.navbar-brand {
	padding: 5px 5px 0px 5px !important;
	height: 30px !important;
}
.navbar {
	min-height: 30px !important;
}

.scroll {
	overflow: auto;
	word-wrap: break-word;
}