html {
	border-style: solid;
	border-width: 1px;
	border-color: #26b3f7;
	padding-top: 0;
	background-color: black;
}

*:focus {
	outline: none;
}

#console {
	display: inline-block;
	width: calc(100vw - 275px);
	height: calc(100vh - 35px - 95px);
	margin: 0 0 10px 0;
	padding: 0 10px 0 0;
	overflow: auto;
	word-wrap: break-word;
}

#userlist {
	display: inline-block;
	width: 220px;
	height: calc(100vh - 35px - 95px);
	margin: 0 0 10px 0;
	padding: 0 0 0 10px;
	overflow: auto;
	border-style: solid;
	border-width: 0 0 0 1px;
	border-color: #26b3f7;
	font-size: 14px;
}

#consoleBox {
	margin: 0;
	padding: 0 0 10px 0;
	width: calc(100vw - 28px);
	height: calc(100vh - 35px - 95px);
}

#chatDiv, #chatText, #chatForm {
	width: calc(100vw - 32px);
}

.tab {
	padding-top: 10px !important;
	padding-right: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 5px !important;
	height: calc(100vh - 94px) !important;
	font-size: 14px !important;
}

#tabs {
	padding: 0;
	margin: 0;
	border: 0;
}

#exit, #minimize, #maximize, #devTools {
	height: 20px;
	width: 20px;
}

#top {
	width: 100%;
}

#topTitle {
	font-family: verdana, sans-serif;
	color: #26b3f7;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.5pt;
}

#topRight {
	-webkit-app-region: no-drag;
	float: right;
}

#commands {
	width: calc(100vw - 33px);
	height: calc(100vh - 160px);
	overflow: auto;
	word-wrap: break-word;
	margin-top: 5px;
}

#timedMsgs {
	width: calc(100vw - 33px);
	height: calc(100vh - 130px);
	overflow: auto;
	word-wrap: break-word;
	margin-top: 5px;
}

#quotes {
	width: calc(100vw - 33px);
	height: calc(100vh - 94px);
	overflow: auto;
	word-wrap: break-word;
}

#raffleList {
	float: left;
	width: 200px;
	height: calc(100vh - 105px);
	border: #26b3f7;
	border-width: 1px;
	border-style: solid;
	overflow: auto;
	margin-right: 10px;
	padding: 5px;
}

.labelText {
	color: #26b3f7;
	font-weight: bold;
}

.ui-button .ui-button-text {
	padding: 5px;
}

.ui-button .ui-button-icon {
	padding: 2px;
}

.ui-tabs .ui-tabs-nav li a {
	font-size: 10pt !important;
	padding: 5pt !important;
	font-weight: bold;
}

.timedMessageSpan {
	display: inline-block;
	width: 60px;
	font-style: italic;
}


